<div>
    <span id="user"></span>
    <button id="logout">X</button>
    <br>
    <button id="feed">Feed</button>
</div>

<button id="newPost">Create Post</button>
<button id="historyPost">History</button>

<div id="postToCreate">
    <h5>Activity</h5>
    <input id="activity" type="text">

    <h5>Message</h5>
    <textarea id="message"></textarea>
    <br>
    <button id="submit">Submit</button>
</div>

<div id="history">
    
</div>







<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/post.js"></script>